# ==========================================================
# Blueprint para desplegar Toke Inca App en Render
# CONECTADO A UNA BASE DE DATOS EXTERNA EN RAILWAY
# ==========================================================
services:
  # --- Único Servicio: La Aplicación Spring Boot ---
  - type: web
    name: toke-inka-app
    runtime: docker
    plan: free
    dockerfilePath: ./DockerFile
    autoDeploy: true
    branch: main
    
    # Variables de Entorno
    envVars:
      # --- VARIABLES PARA CONFIGURAR EL MODO PRODUCCIÓN ---
      - key: SPRING_JPA_HIBERNATE_DDL_AUTO
        value: validate
      - key: SPRING_JPA_SHOW_SQL
        value: false
      - key: SPRING_THYMELEAF_CACHE
        value: true
# O usa un secreto

      # --- VARIABLES SECRETAS ---
      # Estas se deben añadir manualmente en el panel de Render.
      # 'sync: false' es una buena práctica para que los valores no se guarden en Git.
      - key: MYSQL_HOST
        sync: false
      - key: MYSQL_PORT
        sync: false
      - key: MYSQL_DATABASE
        sync: false
      - key: MYSQL_USER
        sync: false
      - key: MYSQL_PASSWORD
        sync: false
      - key: CLOUDINARY_URL
        sync: false
      - key: RESEND_API_KEY
        sync: false